* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}
#bg{
  height: 100vh;
  background-position: center;
  background-size: cover;
  filter: blur(0.1rem);
}
#box-1{
}
p{
  font-weight: 300;
  color: #fff
}
#title-header{
  text-align: left;
  color: #ffffff;
  padding: 2rem;
}
.subheading{
  font-weight: 400;
  line-height: 40%;
}
#box-2{
  background-color: rgba(225, 79, 79, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
#text-area{
  background-color: #F7f7f7;
  height: 75vh;
  display: inline-flex;
  border-radius: 25px 0px 0px 25px;
  padding: 1rem;
  flex-grow: 1;
}
#score-area{
  background-color: #050039;
  height: 75vh;
  color: #F7f7f7;
  padding: 2%;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;

  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
footer {
  background-color: #050039;
  display: flex;
  padding: 2rem 2rem 4rem 2rem;
  gap: 1rem;
  flex-direction: row;
}

.footer-left {
  display: inline-flex;
  flex-direction: column;
  flex:0px;
}

.footer-right {
  display: inline-flex;
  flex-direction: column;
  flex:0px;
}

h1{
  font-size: 2rem;
  color: #F68EFF;
}
#linebreak{
  height: 2px; 
  background-color: #F7f7f7;
}

#results-circle{
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #1c1c1c;
  height: 120px;
  width: 120px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
h4{
  font-weight: 400;
  
}

#main-area {
  display: flex;
  justify-content: center;
  padding: 0rem 2rem 0rem 2rem;
}
br {
  line-height: 1000%;
}

#main_section {
  padding-bottom: 2rem;
  background: url("./images/BG.png") no-repeat center;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
}